:root {
    --background: #e4e4e4;
    --color: #444;
}
@media (prefers-color-scheme: dark) {
    :root {
		--background: #444;
		--color: #e4e4e4;
    }
}

.left {
	float: left;
	width: 30%;
	height: 90vh;
	overflow: auto;
}

body {
	overflow: hidden;
	clear:both;
	background-color: var(--background);
	color: var(--color);
}

th {
	position: sticky;
	top: 0;
	background: var(--background);
}

td.session, td.session * {
	width: 50px;
	text-align: center;
}

td.sr, td.sr * {
	width: 80px;
	text-align: center;
}

td.size, td.size * {
	width: 50px;
	text-align: center;
}

td.season, td.season * {
	width: 50px;
	text-align: center;
}

#stats, #stats .table, #lastSession, #lastSeason {
	margin-left: 50px;
    margin-top: 20px;
}

input, select {
	background-color: var(--background);
	color: var(--color);
	border-color: var(--color);
	border-style: ridge;
	border-width: 1px;
}

button {
	background-color: var(--background);
	color: var(--color);
}

svg {
	padding: 2em;
}

#btnExport {
	position: absolute;
	left: 20px;
	bottom: 20px;
}

#btnImport {
	position: absolute;
	left: 80px;
	bottom: 20px;
}

#divDirtyState {
	position: absolute;
	left: 140px;
	bottom: 20px;
}

#hidden, .hidden {
	display: none;
}